* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.container-all {
    display: flex;
    flex-direction: column;
}

.container-header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 20px 200px 135px 200px;
}

.container-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 100px;
    
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
}

.header-links{
    display: flex;
    gap: 20px;
    
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}



.container-header-bottom {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    
}

.container-header-title{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 500px;
}

.header-title{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    padding: 0;
}

.header-description{
    color: #e5e7eb;
    font-size: 18px;
    padding: 0px 0px 5px 0px;
}

.header-btn{
    color: #f9faf8;
    font-weight: bold;
    background-color: #3882f6;
    height: auto;
    width:125px;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.header-img{
    height: 250px;
    width: 500px;
}
